* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.image-header {
    width: 100%;
    height: 956px;
}

.rectangle-header {
    width: 100%;
    height: 960px;
    background: rgba(19, 19, 19, 0.41);
    position: relative;
    bottom: 976px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

h3 {
    width: 148px;
    color: white;
    margin-left: 166px;
    font-weight: 700;
    font-size: 32px;
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 166px;
    font-weight: 400;
    font-size: 24px;
}

li a {
    margin-right: 55px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 74px;
    position: relative;
    top: 365px;
}

.style {
    border: 0;
    color: white;
    text-align: center;
    background-color: #3C6E71;
    padding: 26px 23px 26px 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 337px;
    height: 73px;
    font-weight: 700;
    font-size: 24px;
    bottom: 70px;
    margin-top: 70px;
    margin-right: 35px;
}

.input {
    box-sizing: border-box;
    margin-top: 40px;
    font-weight: 700px;
    font-size: 25px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.formulaire {
    display: flex;
    justify-content: space-between;
    background-color: #284B63;
    width: 1178px;
    height: 199px;
    bottom: 106px;
    position: relative;
    margin: 0 auto;
}

.input2 {
    box-sizing: border-box;
    margin-top: 40px;
    font-weight: 700px;
    font-size: 25px;
    color: white;
    margin-left: 3px;
    margin-right: 5px;
}

.bloc1 {
    display: flex;
    width: 1180px;
    margin: 0 auto;
}

.bloc1 img {
    position: relative;
    bottom: 20px;
}


.about {
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    position: relative;
    left: 36px;
}

.welcome {
    width: 375px;
    height: 37px;
    left: 862px;
    top: 1137px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: justify;
    color: #000000;
}

.about p {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 73px;
    text-align: justify;
    transform: rotate(-0.38deg);
}

.style1 {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 57px;
    width: 175px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 147px;
    margin: 0 auto;
    top: 100px;
    left: 138px;
    position: relative;
    background-color: rgba(196, 196, 196, 0.87);
}

.rooms {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-top: 56px;
}

.style2 {
    width: 161px;
    height: 58px;
    background: rgba(127, 79, 36, 0.59);
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    left: 1155px;
    top: 80px;
}

.images {

    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 52px;

}

.Offer {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    top: 75px;
}

.piscine {
    margin-left: 48px;
}

.div1-image {
    margin: 38px 80px 16px 37px;
}

.div1-p1 {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 60px;
}

.Rest {
    font-weight: 400;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    top: 15px;
    bottom: 5px;
    right: 20px;
}

.div1 {
    box-sizing: border-box;
    width: 575px;
    height: 124px;
    background: #FDF9F9;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    left: 30px;
}

.div2-image {
    margin: 38px 80px 16px 37px;
}

.div2-p2 {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 60px;
}

.swim {
    font-weight: 400;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    top: 15px;
    bottom: 5px;
    right: 20px;
}

.div2 {
    box-sizing: border-box;
    width: 575px;
    height: 124px;
    background: #FDF9F9;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 30px;
    left: 30px;
}

.div3-image {
    margin: 38px 80px 16px 37px;
}

.div3-p3 {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 60px;
}

.conf {
    font-weight: 400;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    top: 15px;
    bottom: 5px;
    right: 20px;
}

.div3 {
    box-sizing: border-box;
    width: 575px;
    height: 124px;
    background: #FDF9F9;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 57px;
    left: 30px;
}

.section3 {
    display: flex;
    position: absolute;
    width: 1180px;
    top: 2350px;
    left: 30px;
}

.love {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 610px;
}

.guest1 {
    width: 488px;
    height: 498px;
    background: #FDF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    left: 40px;

}

.guest1 p {
    position: relative;
    top: 80px;

}

.MB {
    position: relative;
    right: 110px;
    top: 40px;
}

.AI {
    position: relative;
    right: 110px;
    top: 100px;
}

.guest2 {
    width: 488px;
    height: 498px;
    background: #FDF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    left: 60px;
}

.guest2 p {
    position: relative;
    top: 50px;
}

.temoignage {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 652px;
}

.stay {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 750px;
}

.name {
    border-radius: 20px;
    background-color: rgba(196, 196, 196, 0.28);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email {
    border-radius: 20px;
    background-color: rgba(196, 196, 196, 0.28);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 800px;
}

.location {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 700px;
}

.maps {
    position: relative;
    text-align: center;
    top: 730px;
}

.style3 {
    background: rgba(127, 79, 36, 0.59);
    border-radius: 10px;
    width: 184px;
    height: 86px;
    font-weight: 400;
    font-size: 32px;
    position: relative;
}

.parteners {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 850px;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    left: 0px;
    top: 4553px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 870px;
}

.text {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 900px;
}

.reseaux {
    position: relative;
    top: 950px;
    left: 900px;
}

.footer {
    left: 0px;
    top: 900px;
    background: #000000;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
}

section-end {
    background-color: #000000;
    top: 300px;
}

/* The animation code */

@keyframes example {
    from {
        color: red;
    }

    to {
        color: yellow;
    }
}

/* The element to apply the animation to */

h1 {
    animation-name: example;
    animation-duration: 5s;
}

@media screen and (max-width: 320px) {

    .image-header{
        width: 100%;
        height: auto;
    }

    .rectangle-header{
        width: 100%;
        height: 25%;
    }

    nav{
        flex-direction: column;
    }
    
    .formulaire{
        flex-direction: column;
        height: auto;
        width: 260px;
        bottom: 387px;
    }

    .input {
        width: 234px;
        height: 79px;
        font-size: 80%
    }
    
    .input2 {
        width: 234px;
        height: 79px;
        font-size: 80%
    }

    .images{
        flex-direction: column;
    }
}