* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.image-header {
    width: 100%;
    height: 956px;
}

.rectangle-header {
    width: 100%;
    height: 960px;
    background: rgba(19, 19, 19, 0.41);
    position: relative;
    bottom: 976px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

h3 {
    width: 148px;
    color: white;
    font-weight: 700;
    font-size: 32px;
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 166px;
    font-weight: 400;
    font-size: 24px;
}

li a {
    margin-right: 55px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 74px;
    position: relative;
    top: 365px;
}

.style {
    border: 0;
    color: white;
    text-align: center;
    background-color: #3C6E71;
    padding: 26px 23px 26px 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 337px;
    height: 73px;
    font-weight: 700;
    font-size: 24px;
    bottom: 70px;
    margin-top: 70px;
    margin-right: 35px;
}

.input {
    box-sizing: border-box;
    margin-top: 40px;
    font-weight: 700px;
    font-size: 25px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.formulaire {
    display: flex;
    justify-content: space-between;
    background-color: #284B63;
    width: 1180px;
    height: 199px;
    bottom: 106px;
    position: relative;
    margin: 0 auto;
}

.input2 {
    box-sizing: border-box;
    margin-top: 40px;
    font-weight: 700px;
    font-size: 25px;
    color: white;
    margin-left: 3px;
    margin-right: 5px;
}

.bloc1 {
    display: flex;
    width: 1180px;
    margin: 0 auto;
}

.bloc1 img {
    position: relative;
    bottom: 20px;
}

.about {
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    position: relative;
    left: 36px;
}

.welcome {
    width: 375px;
    height: 37px;
    position: relative;
    left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: justify;
    color: #000000;
}

.woods {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 63px;
    text-align: justify;
    transform: rotate(-0.38deg);
    left: 40px;
    width: 376px;
}

.style1 {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 57px;
    width: 175px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 147px;
    margin: 0 auto;
    top: 100px;
    left: 138px;
    position: relative;
    background-color: rgba(196, 196, 196, 0.87);
}

.rooms {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-top: 56px;
}

.style2 {
    width: 161px;
    height: 58px;
    background: rgba(127, 79, 36, 0.59);
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    left: 946px;
    top: 80px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 52px;
}

.section-trois {
    width: 1180px;
    margin: 0 auto;
}

.Offer {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    top: 75px;
}

.div1-image {
    margin: 38px 80px 16px 37px;
}

.div1-p1 {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 60px;
}

.Rest {
    font-weight: 400;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    top: 15px;
    bottom: 5px;
    right: 20px;
}

.div1 {
    box-sizing: border-box;
    width: 575px;
    height: 124px;
    background: #FDF9F9;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    left: 30px;
}

.div2-image {
    margin: 38px 80px 16px 37px;
}

.div2-p2 {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 60px;
}

.swim {
    font-weight: 400;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    top: 15px;
    bottom: 5px;
    right: 20px;
}

.div2 {
    box-sizing: border-box;
    width: 575px;
    height: 124px;
    background: #FDF9F9;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 30px;
    left: 30px;
}

.div3-image {
    margin: 38px 80px 16px 37px;
}

.div3-p3 {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 15px;
    right: 60px;
}

.conf {
    font-weight: 400;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    top: 15px;
    bottom: 5px;
    right: 20px;
}

.div3 {
    box-sizing: border-box;
    width: 575px;
    height: 124px;
    background: #FDF9F9;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 57px;
    left: 30px;
}

.section3 {
    display: flex;
    width: 1180px;
    top: 124px;
    position: relative;
    margin: 0 auto;
}

.love {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 190px;
}

.guest1 {
    width: 488px;
    height: 498px;
    background: #FDF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    position: relative;
}

.guest1 p {
    position: relative;
    top: 80px;
    width: 356px;
    height: 120px;
    text-align: justify;
    left: 80px;
}

.MB {
    position: relative;
    right: 58px;
    top: 164px;
}

.AI {
    position: relative;
    right: 70px;
    top: 166px;
}

.guest2 {
    width: 488px;
    height: 498px;
    background: #FDF9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    position: relative;
}

.guest2 p {
    position: relative;
    top: 99px;
    width: 438px;
    height: auto;
    left: 29px
}

.temoignage {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 239px;
    width: 1180px;
    margin: 0 auto;
}

.stay {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 400px;
}

.name {
    border-radius: 20px;
    background-color: rgba(196, 196, 196, 0.28);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email {
    border-radius: 20px;
    background-color: rgba(196, 196, 196, 0.28);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 471px;
    width: 1180px;
    margin: 0 auto;
}

.location {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 300px;
}

.maps {
    position: relative;
    text-align: center;
    top: 350px;
    width: 1180px;
    margin: 0 auto;
}

.style3 {
    background: rgba(127, 79, 36, 0.59);
    border-radius: 10px;
    width: 184px;
    height: 86px;
    font-weight: 400;
    font-size: 32px;
    position: relative;
}

.parteners {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 553px;
}

.logo1 {
    right: 86px;
    top: 34px;
    position: relative;
}

.logo2 {
    position: relative;
    right: 35px;
    top: 23px;
}

.logo3 {
    position: relative;
    left: 52px;
}

.logo4 {
    position: relative;
    left: 94px;
    top: 16px;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    background: #FFFFFF;
    position: relative;
    top: 582px;
    width: 1180px;
}

.text {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 64px;
    color: #FFFFFF;
}

.Copyright {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.foot {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 141px;
    left: 497px;
}

.section-end {
    width: 100%;
    height: 427px;
    top: 624px;
    left: 0px;
    background: #000000;
    position: relative;
}


/* The animation code */

@keyframes example {
    from {
        color: red;
    }
    to {
        color: yellow;
    }
}


/* The element to apply the animation to */

h1 {
    animation-name: example;
    animation-duration: 5s;
}

@media screen and (max-width: 425px) {
    h1 {
        position: relative;
        top: 144px;
        font-size: 34px;
    }
    h3 {
        width: 207px;
        color: white;
        font-weight: 700;
        font-size: 32px;
        position: relative;
        right: 7%;
        top: 20px;
    }
    li a {
        display: none;
    }
    .image-header {
        width: 100%;
        height: 418px;
    }
    .rectangle-header {
        width: 100%;
        height: 445px;
        position: relative;
        bottom: 449px;
    }
    .formulaire {
        flex-direction: column;
        height: auto;
        width: 369px;
        top: 20px;
    }
    .style {
        width: 335px;
        height: 78px;
        bottom: 70px;
        margin-top: 70px;
        position: relative;
        bottom: 22px;
        left: 16px;
    }
    .bloc1 {
        display: block;
        top: 67px;
        left: 36px;
        position: relative;
    }
    .bloc1 img {
        position: relative;
        bottom: 6px;
        width: 30%;
    }
    .about p {
        font-weight: 100;
        font-size: 10px;
        position: relative;
        right: 717px;
        top: 365px;
    }
    .woods {
        width: 340px;
        position: relative;
        top: 16px;
        left: 2px;
    }
    .style1 {
        top: 51px;
        left: 66px;
    }
    .rooms {
        position: relative;
        top: 104px;
        right: 396px;
    }
    .images {
        flex-direction: column;
        top: 160px;
        left: 36px;
    }
    .welcome {
        left: 30px;
        font-size: 30px;
    }
    .chambre2 {
        width: 29%;
        height: 347px;
    }
    .chambre1 {
        position: relative;
        bottom: 31px;
    }
    .chambre3 {
        position: relative;
        top: 31px;
        width: 343px;
    }
    .style2 {
        left: 55px;
        top: 217px;
    }
    .piscine {
        display: none;
    }
    .Offer {
        top: 253px;
    }
    #div {
        position: relative;
        top: 163px;
        right: 13px;
    }
    .div1 {
        width: 391px;
        height: 106px;
    }
    .div1-image {
        margin: 17px 75px 16px 6px;
    }
    .rest {
        font-size: 30px;
        top: 4px;
        right: 20px;
    }
    .div1-p1 {
        font-size: 13px;
        top: 7px;
        right: 66px;
        width: 315px;
    }
    .div2 {
        width: 391px;
        height: 106px;
    }
    .div2-image {
        margin: 17px 75px 16px 6px;
    }
    .swim {
        font-size: 30px;
        top: 3px;
        right: 50px;
    }
    .div2-p2 {
        font-size: 13px;
        top: 7px;
        right: 70px;
        width: 315px;
    }
    .div3 {
        width: 391px;
        height: 106px;
    }
    .div3-image {
        margin: 17px 75px 16px 6px;
    }
    .conf {
        font-size: 30px;
        top: 3px;
        right: 65px;
    }
    .div3-p3 {
        font-size: 13px;
        top: 7px;
        right: 70px;
        width: 315px;
    }
    .love {
        top: 388px;
    }
    .guest1 {
        width: 385px;
        height: 432px;
        left: 25px;
        top: 184px;
        font-size: 20px;
        position: relative;
    }
    .guest1 p {
        top: 101px;
        left: 27px;
        width: 306px;
    }
    .guest2 {
        display: none;
    }
    .MB {
        top: 170px;
    }
    .location {
        top: 471px;
    }
    .maps {
        width: 392px;
        position: relative;
        height: 355px;
        top: 262px;
        left: 5px;
    }
    .stay {
        top: 563px;
    }
    .form {
        flex-direction: column;
        left: 46px;
        top: 635px;
        position: relative;
    }
    .name {
        width: 366px;
        height: 86px;
        position: relative;
        bottom: 39px;
    }
    .email {}
    .style3 {
        top: 43px;
    }
    .parteners {
        display: none;
    }
    .logo {
        display: none;
    }
    .section-end {
        top: 727px;
    }
}